.sort{
    display: flex;
    margin: 30px 0 20px 20px;
}
.genrefilter{
    padding: 8px;
}
.datefilter {
    margin: 10px 0 10px 0;
  }
  
  .datefilter label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .datefilter select {
    padding: 5px;
    font-size: 14px;
    background-color: #484A4E;
    color: white;
    border-radius: 8px;
  }
  
  .datefilter select option {
    background-color: white;
    color: #333;
  }