.movie-card {
    display: flex;
    flex-direction: column;
    width: 120px;
    height: 200px;
    margin: 10px;
    border: 1px solid   #ccc;
   
    overflow: hidden;
    border-radius: 20px;
    
  }
  .card-movie:hover {
    transform: scale(1.1); /* You can adjust the scale factor as needed */
  }
  
  .movie-card img {
    /* padding: 2%;
    border-radius: 30px; */
    width: 100%;
    height: 60%;
    
  }
  .movie-card h2{
    font-size: 18px;
    font-weight: 800;
    
  }
  .movie-card h2{
    padding: 10px 10px 0 10px;
  }
  .movie-card p{
    margin: 0;
    padding: 10px;
  }


  
  @media (max-width: 700px) {
    .movie-card {
      width: 100px;
      height: 300px;
    }
    .movie-card h2 {
      font-size: 14px;
    }
    .movie-card p {
      font-size: 12px;
    }
  }
  
  @media (max-width: 480px) {
    .movie-card {
      width: 50px;
      height: 50px;
    }
    .movie-card h2 {
      font-size: 12px;
    }
    .movie-card p {
      font-size: 10px;
    }
  }


  .card-movie{
    width: 240px;
    height: 380px;
    
  }
  .card-movie img{
    height: 240px;
  }
  .card-show{
    padding: 10px;
  }
  .card-img-top img{
    height: 100px;
  }
  .card-title h1{
    font-size: 20px;
    font-weight: 800;  }
    .card-text p{
      font-size: 16px;
    font-weight: 500;
    }
    .p-span{
      font-weight: 700;
      padding-right: 5px;
    }
    @media (max-width: 1200px) {

      .card-movie{
        width: 220px;
        height: 320px;
      }
      .card-movie img{
        height: 200px;
      }
      .card-title h1{
        font-size: 18px;
        font-weight: 800;  }
        .card-text p{
          font-size: 15px;
        font-weight: 500;
        }
        .card-show{
          padding: 5px;
        }
        
    }

    @media (max-width: 500px) {

      .card-movie{
        width: 130px;
        height: 320px;
      }
      .card-movie img{
        height: 130px;
      }
      .card-title h1{
        font-size: 14px;
        font-weight: 800;  }
        .card-text p{
          font-size: 13px;
        font-weight: 500;
        }
        .card-show{
          padding: 5px;
        }
        .p-span{
          
          margin-right: 5px;
        }
    }